.App {
  text-align: center;
}


.background{
  background-image: url('./background.jpg');
  background-size:cover;
  color: white;
  padding: 30px;
}

.linkStyle{
 
  text-decoration: none;
  color: inherit;
}